@import url(https://fonts.googleapis.com/css?family=Inconsolata);
*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-attachment: fixed, fixed;
	background-color: #333;
	color: #eee;
	font-family: "Inconsolata";
	font-size: 14px;
	height: 100%;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin: 0;
}
#containerCand {
	max-height: 800px;
	height: 75vh;
}

/* Conflict with Bootstrap, not needed after v7.0.1 */
.highcharts-bindings-wrapper * {
	box-sizing: content-box;
}
.container {
	max-width: 700px;
	margin: 0 auto;
}
p {
	margin: 0 0 10px;
}
img {
	vertical-align: middle;
}
span.file-url::before {
	content: "url: ";
}
span.file-size {
	display: none;
}
a {
	color: #727b84;
	text-decoration: none;
	transition: color 0.25s;
}
a:hover,
a:focus,
a:active {
	color: #426e9b;
}
a:focus {
	outline: thin dotted #aaa;
}
li.file.total {
	display: none;
}
.jumbotron {
	text-align: center;
	transition: width 0.5s, height 0.5s, margin 0.5s, padding 0.5s;
}
.jumbotron h1 {
	font-family: inherit;
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	cursor: default;
	text-rendering: optimizelegibility;
	color: #999;
	transition: color 0.25s, width 0.5s, height 0.5s;
	text-shadow: 0 0px 0px #2a2a2a;
	margin: 10px 0;
}
.jumbotron h1:hover {
	color: #db2a4e;
	text-shadow: 0 4px 5px #2a2a2a;
	transition: color 0.25s, width 0.5s, height 0.5s;
}
.jumbotron .lead {
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
	margin-bottom: 20px;
	transition: font-size 0.5s;
	color: #bbb;
}
.disclaimer{
	font-size: 12px;
	transition: font-size 0.5s;
	color: rgb(207, 11, 11);
}
.jumbotron .btn {
	background: rgba(30, 30, 30, 0.75);
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 24px;
	transition: background-color 0.25s, width 0.5s, height 0.5s;
	color: #555;
	text-shadow: 0 0px 0px #171717;
	-webkit-box-shadow: 0 0px 0px #555;
	-moz-box-shadow: 0 0px 0px #555;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	width: 512px;
	padding: 28px 48px;
}
.jumbotron .btn:hover,
.jumbotron .btn:active,
.jumbotron .btn:focus {
	background: #141414;
	color: #a2adbc;
	text-shadow: 0 4px 5px #121212;
	text-decoration: none;
}
.alert {
	background-color: #444;
	border: 1px solid #555;
	border-radius: 0px;
	margin-bottom: 20px;
	text-shadow: 0 0px rgba(150, 150, 150, 0.5);
	transition: width 0.5s, margin 0.5s, padding 0.5s, background-color 0.5s;
	text-align: center;
	padding: 8px 14px;
}
.alert-error {
	background-color: #f2dede;
	color: #b94a48;
	border-color: #eed3d7;
}
#upload-input {
	position: absolute;
	top: 0;
	left: -5000px;
}
#upload-filelist {
	list-style-type: none;
	text-align: left;
	margin: 20px 100px;
	padding: 0;
}
#no-file-api {
	display: none;
}
@media only screen and max-device-width320px, only screen and max-width400px {
	body {
		padding: 10px 0 0;
	}
	.jumbotron {
		margin: 20px 0 30px;
	}
	.jumbotron .lead {
		font-size: 18px;
	}
	.jumbotron .btn,
	.alert,
	#upload-filelist {
		border-radius: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
		border-width: 1px 0;
	}
	#upload-filelist {
		background-color: rgba(255, 255, 255, 0.75);
		overflow: hidden;
	}
	.alert {
		font-size: 13px;
	}
	.alert-error {
		background-color: rgba(248, 223, 223, 0.75);
	}
	nav {
		background-color: rgba(255, 255, 255, 0.75);
		border: #fff;
		padding: 10px 0;
	}
}
p.blocktext {
	display: flex;
	align-items: center;
	justify-content: center;
}
